


#workspace{
    float:left;
    width: 400px;
    height : 600px;
    border: 1px solid;
    margin: 0 auto;
    overflow: hidden;
}

#output{
    float: right;
    width: 250px;
    height: 600px;
    border: 1px solid;
}
